html{
    overflow-y: scroll; 
}

.index{
    background-color: whitesmoke;
}

.courses{
    background-color: whitesmoke;
}

.documentation{
    background-color: cornflowerblue;
}

.interests{
    background-color: whitesmoke;
    font-family:'Trebuchet MS';
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.task_bar{
    height: 80px;
    width: auto;
    background-color:#b5b5b5;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.task_button{
    display: flex;
    flex-flow: row;
    flex-direction: row;
    border-radius: 10px;
    height: 60px;
    width: 140px;
    background-color: #ffffff;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.welcome{
    font-family:'Trebuchet MS';
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.about{
    font-family:'Trebuchet MS';
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.courses{
    font-family:'Trebuchet MS';
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.courses_1{
    background-color: whitesmoke;
}

.center{
    font-family:'Trebuchet MS';
    margin: auto;
    justify-items: center;
    align-items: center;
}

/* Var tvungen att resizea bilderna jag lade in. */

.image_albin{
    height: 341px;
    width: 316px;
    border-radius: 40px;
}

.image_mando{
    height: 378.6px;
    width: 242px;
}

.image_bala{
    height: 344.5px;
    width: 295.5px;
}

.field1{
    border-color: black;
    flex: auto;
    border-radius: 5px;
}

hr{
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.copyright{
    font-family:'Trebuchet MS';
    display: flex;
    flex-flow: column;
}

/* Nedan finns style grejer för alla block jag har. Det är endast en dekoration men det tog upp väldigt mycket css kod.*/

.green-block1{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: green;
    position:absolute;
    top: 210px;
    left: 110px;
}

.red-block1{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: red;
    position:absolute;
    top: 200px;
    left: 100px;
}

.blue-block1{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: blue;
    position:absolute;
    top: 300px;
    right: 100px;
}

.turquoise-block1{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: turquoise;
    position:absolute;
    top: 310px;
    right: 110px;
}

.orange-block1{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: orange;
    position:absolute;
    top: 450px;
    left: 130px;
}

.yellow-block1{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: yellow;
    position:absolute;
    top: 460px;
    left: 140px;
}

.purple-block1{
    display: flex;
    width: 70px;
    height: 70px;
    background-color: purple;
    position:absolute;
    top: 500px;
    right: 500px;
}

.pink-block1{
    display: flex;
    width: 70px;
    height: 70px;
    background-color: pink;
    position:absolute;
    top: 510px;
    right: 510px;
}

.brown-block1{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: brown;
    position:absolute;
    top: 400px;
    left: 380px;
}

.black-block1{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: black;
    position:absolute;
    top: 410px;
    left: 390px;
}

.green-block2{
    display: flex;
    width: 70px;
    height: 70px;
    background-color: green;
    position:absolute;
    top: 160px;
    left: 160px;
}

.red-block2{
    display: flex;
    width: 70px;
    height: 70px;
    background-color: red;
    position:absolute;
    top: 150px;
    left: 170px;
}

.blue-block2{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: blue;
    position:absolute;
    top: 250px;
    right: 140px;
}

.turquoise-block2{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: turquoise;
    position:absolute;
    top: 260px;
    right: 130px;
}

.orange-block2{
    display: flex;
    width: 120px;
    height: 120px;
    background-color: orange;
    position:absolute;
    top: 540px;
    left: 140px;
}

.yellow-block2{
    display: flex;
    width: 120px;
    height: 120px;
    background-color: yellow;
    position:absolute;
    top: 560px;
    left: 120px;
}

.purple-block2{
    display: flex;
    width: 70px;
    height: 70px;
    background-color: purple;
    position:absolute;
    top: 810px;
    right: 220px;
}

.pink-block2{
    display: flex;
    width: 70px;
    height: 70px;
    background-color: pink;
    position:absolute;
    top: 820px;
    right: 210px;
}

.brown-block2{
    display: flex;
    width: 130px;
    height: 130px;
    background-color: brown;
    position:absolute;
    top: 985px;
    left: 205px;
}

.black-block2{
    display: flex;
    width: 130px;
    height: 130px;
    background-color: black;
    position:absolute;
    top: 1000px;
    left: 190px;
}

.green-block3{
    display: flex;
    width: 90px;
    height: 90px;
    background-color: green;
    position:absolute;
    top: 260px;
    left: 220px;
}

.red-block3{
    display: flex;
    width: 90px;
    height: 90px;
    background-color: red;
    position:absolute;
    top: 250px;
    left: 230px;
}

.blue-block3{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: blue;
    position:absolute;
    top: 250px;
    right: 200px;
}

.turquoise-block3{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: turquoise;
    position:absolute;
    top: 260px;
    right: 190px;
}

.orange-block3{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: orange;
    position:absolute;
    top: 210px;
    left: 60px;
}

.yellow-block3{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: yellow;
    position:absolute;
    top: 220px;
    left: 50px;
}

.brown-block3{
    display: flex;
    width: 130px;
    height: 130px;
    background-color: brown;
    position:absolute;
    top: 520px;
    right: 100px;
}

.black-block3{
    display: flex;
    width: 130px;
    height: 130px;
    background-color: black;
    position:absolute;
    top: 530px;
    right: 90px;
}

.blue-block4{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: blue;
    position:absolute;
    top: 900px;
    left: 30px;
}

.turquoise-block4{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: turquoise;
    position:absolute;
    top: 910px;
    left: 20px;
}

.purple-block3{
    display: flex;
    width: 90px;
    height: 90px;
    background-color: purple;
    position:absolute;
    top: 1210px;
    right: 220px;
}

.pink-block3{
    display: flex;
    width: 90px;
    height: 90px;
    background-color: pink;
    position:absolute;
    top: 1220px;
    right: 210px;
}